.col-1 { width: 10%; }  
.col-2 { width: 20%; }  
.col-3 { width: 30%; }  
.col-4 { width: 40%; }  
.col-5 { width: 50%; }  
.col-6 { width: 60%; }  
.col-7 { width: 70%; }  
.col-8 { width: 80%; }  
.col-9 { width: 90%; }  
.col-10 { width: 100%; }

* {
    box-sizing: border-box;
}

p {
    line-height: 1.45;
    margin-bottom: 1em;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 800px;
    margin: auto;
}

pre {
    font-family: "Lucida Console", Monaco, monospace;
    overflow: auto;
}

code {
    font-family: "Lucida Console", Monaco, monospace;
    overflow: auto;
}

img {
    object-fit: contain;
    max-width: 100%;
}

ul, ol, dl, dd {
    padding: 0;
    margin-left: 30px;
}

ul li, ol li {
    line-height: 150%; 
}

ul.pagination {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
}

ul.pagination li,
ul.menu li {
    display: inline;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    text-decoration: none;
    display: block;
}

.pagination-footer {
    padding: 16px 0;
    border: solid #454138;
    border-width: 0.1rem 0 0 0;
    display: flex;
}

.pagination-decoration {
    float: left;
}

.container {
    flex-wrap: wrap;
    display: flex;
}

.button-bar {
    flex-grow: 1;
}

.nav-button {    
    margin: 0px 5px;  
    padding: 0.2rem 2rem 0.2rem 0.5rem;  
    width: 4em;                      
    text-align: left;
    text-decoration: none;
}

header.nav {
    border: solid #454138;
    border-width: 0 0 0.1rem 0;
    padding: 0 0 10px 0;
    margin: 1rem 0;
}

footer.main {
    margin-top: 1em;
    padding: 1em 0;
}

.tagcloud {
    display: inline-block;
    background-color: #dcd8c0;
    padding: 0.5rem;
    vertical-align: bottom;
    box-sizing: border-box;
    width: 100%;
}

.tagcloud-item {
    margin: .2rem;
    padding: .24rem;
    white-space: nowrap;
    font-weight: 700;
    text-decoration: none;
}

.tagcloud-item:hover {
    color: #dcd8c0;
    background-color: #454138;
    transition: all .35s ease-out;
}

.border-right {
    border: solid #454138;
    padding: 0 0.2em 0 0;
    border-width: 0 0.1rem 0 0;
}

.border-up {
    border: solid #454138;
    padding: 0.2em 0 0 0;
    border-width: 0.1rem 0 0 0;
}

.delimiter {
    background: #454138;
    width: 0.5em;
    min-width: 0.5em;
    height: 100%;
}

.float-right {
    float: right!important;
}

.post-info 
/*small.post-date*/ {
    /* font-size: 0.67em; */
    font-size: smaller;
    font-weight: lighter;
}

.large-screen-only,
.mobile-only {
    display: none;
}

.icon > svg,
.icon > img {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.social-media-list {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
}

@media only screen and (max-width: calc(800px + 2 * 1em)) { /* this actually needs to be sth like 800px + 2 * 1em... */
    body { margin: 0px 1em; }
}

@media only screen and (max-width: 725px) {
    .mobile-only {
        display: block;
    }
    
    .col-mobile-10 { width: 100%; }

    .mobile-padding {
        padding-bottom: 1em;
    }

    .nav-button {
        margin: 2.5px 5px;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 370px) {
    .border-right {
        padding: 0;
        border: 0;
    }

    .delimiter {
        width: 0;
        min-width: 0;
    }

    .nav-button {
        margin: 2.5px 0px;
    }

    li.page-item:first-child {
        margin-left: 0px !important;
    }
}

@media only screen and (max-width: 360px) {
    .page-item {
        margin: 0;
        border: solid #454138;
        border-width: 0 0.05rem;
    }

    .pagination-container {
        margin: 0 auto;
    }

    .page-item:first-child {
        border-width: 0 0.05rem 0 0;
    }

    .page-item:last-child {
        border-width: 0 0 0 0.05rem;
    }
}

@media only screen and (min-width: 726px) {
    .large-screen-only {
        display: block;
    }
    
    .post-column {
        padding: 0 10px 0 0;
    }

    .sidebar-column {
        padding: 0 0 0 10px;
    }
}


