{{ define "main" }}
    {{ range (.Paginator 2).Pages }}
    <div class="post">
        <h2 class="post-title">{{ .Title }}</h2>
        <p class="post-info">
        <small class="post-date">{{ .Date.Format "02.01.2006" }}</small>
        {{ if (isset .Params "author") }}
        &#x25A0;
        <small class="author">{{ .Param "author" }}</small>
        {{ end }}
        </p>


        <p class="summary">{{ .Summary }}</p>

        <p><a class="readmore" href="{{ .RelPermalink }}">Weiterlesen</a></p>
    </div>
    {{ end }}
    <div class="pagination-footer">
<div class="border-right"><div class="delimiter"></div></div>
<div>
{{ template "_internal/pagination.html" . }}
</div>
    </div>
{{ end }}
