{{- define "main" -}}
    <article class="col-7 col-mobile-10 post-column">
        <h1>{{ .Title }}</h1> 
        {{ partial "post-info.html" . }}
        <div class="mobile-only">
            <input id="mobile-toc" class="toggle" type="checkbox">
            <label for="mobile-toc" class="lbl-toggle">Table of Contents</label>
            <div class="collapsible-content">
                {{ .TableOfContents }}
            </div>
        </div>

        {{ .Content }}
    </article>
    <aside class="col-3 col-mobile-10 sidebar-column">
        {{- partial "sidebar.html" . -}}
    </aside>
{{ end }}
