{{- define "main" -}}
    <article class="col-7 col-mobile-10 post-column">
        <h1>{{ .Title }}</h1> 
        <p class="post-info">
        <small class="post-date">{{ .Date.Format "02.01.2006" }}</small>
        {{ with .Params.author }}
        &#x25A0;
        <small class="author">{{ . }}</small>
        {{ end }}
        {{ if isset .Params "tags" }}
        &#x25A0;
            {{ range (.GetTerms "tags") }}
        <small><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></small>
            {{ end }}
        {{- end -}}

        <div class="mobile-only">
            <input id="mobile-toc" class="toggle" type="checkbox">
            <label for="mobile-toc" class="lbl-toggle">Table of Contents</label>
            <div class="collapsible-content">
                {{ .TableOfContents }}
            </div>
        </div>

        {{ .Content }}
    </article>
    <aside class="col-3 col-mobile-10 sidebar-column">
        {{- partial "sidebar.html" . -}}
    </aside>
{{ end }}
