<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="{{ "css/yorha.css" | absURL }}" rel="stylesheet">
<link href="{{ "css/base.css" | absURL }}" rel="stylesheet">
<link href="{{ "css/collapsible.css" | absURL }}" rel="stylesheet">
<link href="{{ "css/syntax.css" | absURL }}" rel="stylesheet">
<title>{{ if .Title }}{{ .Title }} - {{ end }} {{ .Site.Title }}</title>
{{- if or .Params.math .Site.Params.math -}}
{{- partial "math.html" . -}}
{{- end -}}