<meta name="theme-color" content="#d1cdb7" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#454138" media="prefers-color-scheme: dark)">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="{{ "css/yorha.css" | absURL }}" rel="stylesheet">
<link href="{{ "css/base.css" | absURL }}" rel="stylesheet">
<link href="{{ "css/collapsible.css" | absURL }}" rel="stylesheet">
<link href="{{ "css/syntax.css" | absURL }}" rel="stylesheet">
<title>{{ if .Title }}{{ .Title }} - {{ end }} {{ .Site.Title }}</title>
{{ with (eq (.Site.Param "favicon") "png") -}}
<link rel="icon" type="image/png" href="{{ "favicon.png" | absURL }}">
{{- end -}}
{{- if or .Params.math .Site.Params.math -}}
{{- partial "math.html" . -}}
{{- end -}}
{{- if or .Params.pdf .Site.Params.pdf -}}
{{- partial "pdf.html" . -}}
{{- end -}}
