<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="{{ "css/yorha.css" | absURL }}" rel="stylesheet"></link>
<link href="{{ "css/base.css" | absURL }}" rel="stylesheet"></link>
<link href="{{ "css/collapsible.css" | absURL }}" rel="stylesheet"></link>
<link href="{{ "css/syntax.css" | absURL }}" rel="stylesheet"></link>
<title>{{ if .Title }}{{ .Title }} - {{ end }} {{ .Site.Title }}</title>
{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}

