{{ if .Site.Menus.main }}
    <header class="nav-header container col-mobile-10">
        <div class="border-right" aria-hidden="true"><div class="delimiter" aria-hidden="true"></div></div>
        <nav class="container button-bar">
        {{- $currentPage := . }}
        {{ range .Site.Menus.main -}}
            {{/* Do something with lists and list spacing */}}
            {{- $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) -}}
            <a class='nav-button col-mobile-10 {{- if $active }} active{{end}}' 
                href="{{ .URL }}" {{- if $active }} aria-current="page"{{ end -}}>
                <span class="text">{{ .Name }}</span>
            </a>
        {{ end -}}
        </nav>
    </header>
{{ end }}
